/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(Basemod.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(Basemod.png);
}

.xbox.disconnected {
    background: url(Disconnected.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 158px;
    height: 190px;
    position: absolute;
    left: 290px;
    top: 100px;
}

.xbox .trigger {
   
    width: 175px;
    height: 208px;
    background: url(S-Triggers.png);
    opacity: 0;

}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    background-position: 150px 0;
    transform: rotateY(0);

}

.xbox .bumper {
    width:  175px;
    height: 102.5px;

    background: url(S-Bumpers.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 475px;
    height: 102.5px;
    left: 130px;
    top: 232px;
    
    
}

.xbox .bumper.pressed {
 
    opacity: 1;

}

.xbox .bumper.left {
    float: left;
    background-position-x: 10px;
}

.xbox .bumper.right {
    float: right;

    background-position-x: 175px;

}



.xbox .quadrant {
    opacity: 0;
    position: absolute;
    background: url();
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    position: absolute;
    background: url(S-Start.png);
    width: 150px;
    height: 147px;
    top: -171px;
    left: -6px;
}

.xbox .start.pressed {
    opacity: 1;
    background-position: 150px;
    left: 145px;
    top: -175px;
   
}

.xbox .back.pressed{
    opacity: 1;
    left: -2px;
    top: 250px;
}

.xbox .start {
    background-position: 0px;
    float: right;

}

.xbox .abxy {
    position: absolute;
    width: 55px;
    height: 156px;
    top: 192px;
    left: 488px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 500px;
    height: 103.7px;
    opacity: 0;

}

.xbox .button.pressed {
    background-position-y: -10px;
    margin-top: 0px;
    opacity: 1;
    width: 78.1px;
    height: 150px;
}

.xbox .a {
    background-position-x: -10px;

    top: 143px;
    left: -235px;
    
}

.xbox .b {
    background-position: -70px 0;
    top: 145px;
    left: -101px;
}

.xbox .x {
    background-position-x: -150px;
    top: 155px;
    left: 30px;
}

.xbox .y {
    background-position-x: -230px;
    top: 155px;
    left: 32px;
}

.xbox .sticks {
    position: absolute;
    width: 250x;
    height: 196px;
    top: 90px;
    left: 148px;
}

.xbox .stick {
    position: absolute;
    background: url(S-Sticks.png);
    background-position: -85px 0;
    height: 150px;
    width: 150px;
    opacity: 0;

}

.xbox .stick.pressed {
    position: absolute;
    background-position: 0 0;
    opacity: 1;
}

.xbox .stick.left.pressed {
    opacity: 1;
    background-position: 5px;
    top: -80;
    left: 0;
}

.xbox .stick.right.pressed {
    background-position: 150px;
    top: 245px;
    left: -50px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.xbox .face {
    background: url(s-dpad.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 87.4px 0;
    left: -81px;
    top: -10px;
    width: 87.4px;
    height: 149.2px;
}

.xbox .face.down {
    background-position:87.4px  -149.2px;
    left: 86px;
    top: -22px;
    width: 87.4px;
    height: 149.2px;
}

.xbox .face.left {
    background-position:174.9px 0;
    left: 15px;
    top: -18px;
    width: 87.4px;
    height: 149.2px;
}

.xbox .face.right {
    background-position:0 -149.2px;
    left: 168px;
    top: -22px;
    width: 87.4px;
    height: 149.2px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
